{% set hideHeader = true %}
{% extends "./layout/base.twig" %}
{% block body %}

<section class="s-info">
    <div class="s-info__line">
    </div>
    <div class="s-info__text">
        <h2>Овощи</h2>
        <p> То, что нужно кушать каждому</p>
    </div>

</section>

<section class="s-info">
    <div class="s-info__text">
        <h2>Немного о здоровье</h2>
        <p> Рациональное питание, прежде всего, подразумевает своевременное и правильно организованное снабжение
            организма вкусной, хорошо приготовленной пищей, содержащей различные питательные вещества, необходимые для
            его нормального развития. Сочетание различных овощей в рационе питания благотворно воздействует на организм,
            повышает процент усвоения каждого витамина в отдельности. Немаловажная роль в организации рационального
            питания отводится овощам — обязательной и существенной части ежедневного рациона, кладовой витаминов, других
            органических и минеральных веществ</p>
    </div>
</section>

<section class="s-info">

    <div class="s-info__text">
        <p> В овощах имеются углеводы. Содержание белков в овощах значительно ниже, чем в мясе, и они почти не содержат
            жиров. Основная ценность овощей в том, что они содержат биологически активные вещества: витамины (витамин C,
            каротин, фолиевая кислота), минеральные вещества, органические кислоты, клетчатку и пектиновые вещества[1].

            При употреблении овощей уменьшается влияние токсинов на организм человека. Овощи снижают риск
            сердечно-сосудистых заболеваний и рака. Ученые утверждают, что против развития рака помогают зеленые и
            желтые овощи[10].

            Овощи используются в диетическом питании. В день взрослый здоровый человек должен употреблять не менее 600 г
            овощей[1].

            В таблице ниже указана пищевая и энергетическая ценность некоторых овощей</p>
    </div>
</section>

<section class="s-info">

    <div class="s-info__text">
        <h2>Виды овощей</h2>
        <p> Корнеплоды – репа, брюква, морковь, редька, хрен, редис, пастернак, сельдерей, петрушка, свекла и т.д.

            Клубнеплоды – картофель, топинамбур, батат. Капустные овощи – белокочанная капуста, краснокочанная капуста,
            савойская капуста, цветная капуста, кольраби, брюссельская капуста, пекинская капуста.

            Томатные овощи — помидоры, баклажаны, перец.

            Тыквенные овощи — тыква, огурцы, арбузы, дыни, кабачки, патиссоны.

            Бобовые овощи — горох, фасоль , бобы.

            Зерновые овощи — кукуруза.

            Луковые овощи — репчатый лук , лук-порей, чеснок, черемша и т.д.

            Десертные овощи — ревень, спаржа, артишок..</p>
    </div>
</section>

<section class="s-info">

    <div class="s-info__text">
        <p> Желтый лук - самый распространённый вид. Имеет свои разновидности: сладкий лук, испанский лук, лук для
            солений и чиполлине - маленький плоский лук.

            Зелёный лук( салатный лук) - обладает мягким и нежным вкусом. Его перья и луковицу можно нарезать и добавить
            в салат или омлет, а также в поджарки, украсить им лапшу или другое блюдо. Чем меньше луковица, тем более
            нежным будет вкус.

            Лук-порей (батун) следует тщательно промывать. Используют как белую, так и зелёную часть. Особенно хорошо
            лук-порей подходит для сливочных соусов и супов. Его можно варить, готовить на пару, тушить в масле.
            Сваренным целиком его можно завернуть в кусочки ветчины или залить соусо бешамель и зажарить на гриле.

            Чесночный лук имеет плоские тёмные листья и мягкий чесночный вкус. </p>
    </div>
</section>


<section class="s-info">

    <div class="s-info__text">
        <h2>Кулинарное использование овощей.</h2>
        <p>Капуста (группа Brassica oleracea Capitata) - растение Семейства Brassicaceae (или Cruciferae). Оно является
            травяным, двухлетним и двудольным цветущим растением с листьями, формирующими характерную компактную группу.
            Существует много разновидностей капусты. Краснокочанная капуста, приготовленная с луком, красным вином и
            уксксом -классический гарнир для блюд из дичи или свинины. Кольраби является гибридом капусты и турнепса. Её
            .</p>
    </div>
</section>

<section class="s-info">

    <div class="s-info__text">
        <p>Брокколи - это растение семейства Капусты, Brassicaceae (Cruciferae). Брокколи обладает плотными мясистыми
            зелеными цветочными головками, будучи подобным дереву из-за веток, вырастающих из толстого съедобного
            стебля. Большая масса цветочных головок окружена листьями. Брокколи больше всего напоминает цветную капусту,
            которая является фактически просто другим культурным сортом растения тех же самых разновидностей, но
            брокколи зеленая, а не белая. Общие варианты - calabrese и фиолетовая брокколи. Используется для еды в
            свежем виде, варится, тушится, запекается.</p>
    </div>
</section>

<section class="s-info">

    <div class="s-info__text">
        <p>Шпинат (Spinacia oleracea) - это цветущее растение семейства Amaranthaceae, уроженец центральной и
            юго-западной Азии. Это - ежегодное растение (редко двухлетнее), которое вырастает в высоту до 30 см. Шпинат
            может выжить за зиму в умеренных областях. Листья простые, от овальных до треугольных, очень отличаются по
            размеру - приблизительно от 2-30 см длиной и 1-15 см шириной, чередуются на стебле, с большими листьями в
            основе растения и маленькими листьями сверху на цветущем стебле. Цветы - неприметные, желто-зеленые,
            диаметром 3-4 мм, созревающие в маленькую твердую сухую шероховатую группу плодов 5-10 мм шириной,
            содержащих несколько семян.</p>
    </div>
</section>

<section class="s-info">

    <div class="s-info__text">
        <p>Эти универсальные овощи фактически являются фруктами. Выращивают сотни сортов помидоров разнообразной
            окраски: от зеленой до желтой и ярко-красной. Основные виды: маленькие круглые помидоры Черри, продолговатые
            темно-фиолетовые помидоры и крупные стандартные. Все эти виды доступны в разных цветах. Помидоры имеют
            мягкую, блестящую кожицу, сочную мякоть и небольшие съедобные семена. Большинство помидоров, выращиваемых
            для продажи, собирают недозрелыми, обычно они дозревают во время транспортировки. Помидоры едят в сыром
            виде, используют для приготовления салатов и холодных закусок, супов, соусов..</p>
    </div>
</section>






<section class="s-info">
    <div class="s-info__text s-info__text--white">
        <p> Спасибо, что для тебя важно твоё здоровье</p>
    </div>
</section>



{% endblock %}