// Colors
$c-white: #ffffff;
$c-black: #000000;
$c-gray:  #7C7C7C;
$c-light-gray:#F9F9F9;
$c-green:#D7E7BE;
$c-pink:#F08D8D;
$c-dark-pink:#DB6969;
$c-hover:#A9533C;


$c-brand: #549366;
$c-dark-green:#577061;
$c-olivka:#7ABC95;
$c-accent: #FE4614;
$c-text: #303030;
$c-error: red;
$c-main-bg: $c-white;
$c-disabled: #878787;


