<section class="s-accordeon js-accordeon" >
    <div class="s-accordeon__container">
        <ul class="s-accordeon__list">
            <li class="s-accordeon__item">
                <button class="s-accordeon__item-btn">
                    About how many different color foods did you eat for dinner last night?
                </button>
                <p class="s-accordeon__item-description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. A, sed eu proin faucibus vitae tincidunt dignissim. Quis eu tortor eu tincidunt nullam lectus. Vitae, vestibulum massa nisi ac adipiscing. Pharetra varius ut a elementum. 

                </p>
            </li>

            <li class="s-accordeon__item">
                <button class="s-accordeon__item-btn">
                    Are there any foods that you wouldn't eat as a child that you eat now?
                    
                </button>
                <p class="s-accordeon__item-description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. A, sed eu proin faucibus vitae tincidunt dignissim. Quis eu tortor eu tincidunt nullam lectus. Vitae, vestibulum massa nisi ac adipiscing. Pharetra varius ut a elementum. 

                </p>

            </li>

            <li class="s-accordeon__item">
                <button class="s-accordeon__item-btn">
                    At what times do you usually eat your meals?
                    
                </button>
                <p class="s-accordeon__item-description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. A, sed eu proin faucibus vitae tincidunt dignissim. Quis eu tortor eu tincidunt nullam lectus. Vitae, vestibulum massa nisi ac adipiscing. Pharetra varius ut a elementum. 

                </p>

            </li>


            <li class="s-accordeon__item">
                <button class="s-accordeon__item-btn">
                    Are you a vegetarian?
                    
                </button>
                <p class="s-accordeon__item-description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. A, sed eu proin faucibus vitae tincidunt dignissim. Quis eu tortor eu tincidunt nullam lectus. Vitae, vestibulum massa nisi ac adipiscing. Pharetra varius ut a elementum. 

                </p>

            </li>

            <li class="s-accordeon__item">
                <button class="s-accordeon__item-btn">
                    Are you concerned about your daily calorie intake when choosing something to eat?
                    
                </button>
                <p class="s-accordeon__item-description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. A, sed eu proin faucibus vitae tincidunt dignissim. Quis eu tortor eu tincidunt nullam lectus. Vitae, vestibulum massa nisi ac adipiscing. Pharetra varius ut a elementum. 

                </p>

            </li>

            <li class="s-accordeon__item">
                <button class="s-accordeon__item-btn">
                    Are you a vegetarian?
                    
                </button>
                <p class="s-accordeon__item-description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. A, sed eu proin faucibus vitae tincidunt dignissim. Quis eu tortor eu tincidunt nullam lectus. Vitae, vestibulum massa nisi ac adipiscing. Pharetra varius ut a elementum. 

                </p>

            </li>


            <li class="s-accordeon__item">
                <button class="s-accordeon__item-btn">
                    Are you a vegetarian?
                </button>
                <p class="s-accordeon__item-description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. A, sed eu proin faucibus vitae tincidunt dignissim. Quis eu tortor eu tincidunt nullam lectus. Vitae, vestibulum massa nisi ac adipiscing. Pharetra varius ut a elementum. 

                </p>

            </li>
        </ul>
    </div>
</section>