<section class="s-bot" id="bot">
    <div class="s-bot__container">
        <h2 class="el-title s-bot__title">
            Вы можете узнать о каждом типе продуктов
        </h2>

        <div class="s-bot__content">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. At magnis interdum diam blandit convallis
                aenean in
                amet. Commodo morbi arcu morbi senectus senectus.

                Id enim a tristique elementum at non purus vitae quam. Maecenas in nunc sed rutrum dis. Magna odio
                bibendum
                iaculis tortor est, ac sollicitudin sollicitudin. Mattis iaculis
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. At magnis interdum diam blandit convallis
                aenean in
                amet. Commodo morbi arcu morbi senectus senectus.

                Id enim a tristique elementum at non purus vitae quam. Maecenas in nunc sed rutrum dis. Magna odio
                bibendum
                iaculis tortor est, ac sollicitudin sollicitudin. Mattis iaculis
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. At magnis interdum diam blandit convallis
                aenean in
                amet. Commodo morbi arcu morbi senectus senectus.
            </p>
        </div>

        <buttno class="s-bot__btn btn">
            HealthyFriend
        </buttno>
    </div>

</section>