<section class="s-categories" id='categories'>
    <div class="s-categories__container">
        <nav class="s-categories__nav js-tags">
            <ul class="s-categories__nav-list">

                <li class="s-categories__nav-item">
                    <button class="s-categories__nav-btn" data-tag="carbohydrates">
                        Углеводы
                    </button>
                </li>
                <li class="s-categories__nav-item">
                    <button class="s-categories__nav-btn" data-tag='proteins'>
                        Белки
                    </button>
                </li>

                <li class="s-categories__nav-item">
                    <button class="s-categories__nav-btn" data-tag='fats'>
                        Жиры
                    </button>
                </li>

            </ul>
        </nav>


        <ul class="s-categories-list" id="carbohydrates" data-target>
            <li class="s-categories-item">
                <a href="#">
                    <figure class="s-categories-item__media">
                        <img src="/images/Slider1-min.png" alt="">
                    </figure>
                    <p class="s-categories-item__description">
                        Овощи и фрукты
                    </p>
                </a>
            </li>
            <li class="s-categories-item">
                <a href="#">
                    <figure class="s-categories-item__media">
                        <img src="/images/banan.png" alt="">
                    </figure>
                    <p class="s-categories-item__description">
                        Сухофрукты
                    </p>
                </a>
            </li>

            <li class="s-categories-item">
                <a href="#">
                    <figure class="s-categories-item__media">
                        <img src="/images/Slider5-min.png" alt="">
                    </figure>
                    <p class="s-categories-item__description">
                        Хлеб, хлебобулочные изделия, мука
                    </p>
                </a>
            </li>

            <li class="s-categories-item">
                <a href="#">
                    <figure class="s-categories-item__media">
                        <img src="/images/crups.png" alt="">
                    </figure>
                    <p class="s-categories-item__description">
                        Крупы
                    </p>
                </a>
            </li>

            <li class="s-categories-item">
                <a href="#">
                    <figure class="s-categories-item__media">
                        <img src="/images/bobs.png" alt="">
                    </figure>
                    <p class="s-categories-item__description">
                        Бобовые
                    </p>
                </a>
            </li>
        </ul>

        <ul class="s-categories-list" id="proteins" data-target>

            <li class="s-categories-item">
                <a href="#">
                    <figure class="s-categories-item__media">
                        <img src="/images/Slider3-min.png" alt="">
                    </figure>
                    <p class="s-categories-item__description">
                        Рыба
                    </p>
                </a>
            </li>


            <li class="s-categories-item">
                <a href="#">
                    <figure class="s-categories-item__media">
                        <img src="/images/greeb.png" alt="">
                    </figure>
                    <p class="s-categories-item__description">
                        Грибы
                    </p>
                </a>
            </li>


            <li class="s-categories-item">
                <a href="#">
                    <figure class="s-categories-item__media">
                        <img src="/images/Slider4-min.png" alt="">
                    </figure>
                    <p class="s-categories-item__description">
                        Мясо, субпродукты, птица
                    </p>
                </a>
            </li>

            <li class="s-categories-item">
                <a href="#">
                    <figure class="s-categories-item__media">
                        <img src="/images/aggs.png" alt="">
                    </figure>
                    <p class="s-categories-item__description">
                        Яйца
                    </p>
                </a>
            </li>

            <li class="s-categories-item">
                <a href="#">
                    <figure class="s-categories-item__media">
                        <img src="/images/icra.png" alt="">
                    </figure>
                    <p class="s-categories-item__description">
                        Икра
                    </p>
                </a>
            </li>


        </ul>

        <ul class="s-categories-list" id="fats" data-target>
            <li class="s-categories-item">
                <a href="#">
                    <figure class="s-categories-item__media">
                        <img src="/images/meet.png" alt="">
                    </figure>
                    <p class="s-categories-item__description">
                        Колбаса
                    </p>
                </a>
            </li>

            <li class="s-categories-item">
                <a href="#">
                    <figure class="s-categories-item__media">
                        <img src="/images/fatmeet.png" alt="">
                    </figure>
                    <p class="s-categories-item__description">
                        Мясные консервы и копчености
                    </p>
                </a>
            </li>

            <li class="s-categories-item">
                <a href="#">
                    <figure class="s-categories-item__media">
                        <img src="/images/fat.png" alt="">
                    </figure>
                    <p class="s-categories-item__description">
                        Жиры, маргарин, масло
                    </p>
                </a>
            </li>

            <li class="s-categories-item">
                <a href="#">
                    <figure class="s-categories-item__media">
                        <img src="/images/Slider2-min.png" alt="">
                    </figure>
                    <p class="s-categories-item__description">
                        Молоко и молочные продукты
                    </p>
                </a>
            </li>

            <li class="s-categories-item">
                <a href="#">
                    <figure class="s-categories-item__media">
                        <img src="/images/Nuts.png" alt="">
                    </figure>
                    <p class="s-categories-item__description">
                        Орехи
                    </p>
                </a>
            </li>
        </ul>


    </div>
</section>