{% if not args %}
    {% set args = {
        title: 'Здоровье это наша жизнь!',
        description: 'Width Lorem ipsum dolor sit amet, consectetur adipiscing elit. A, sed eu proin faucibus vitae tincidunt dignissim. Quis eu tortor eu tincidunt nullam lectus. Vitae, vestibulum massa nisi ac adipiscing. Pharetra varius ut a elementum.',
        url: 'images/Hero-img-min.png',
    } %}
{% endif %}

<section class="s-hero" id="information">
    <div class="s-hero__container">
        <div class="s-hero__content">
            <h1 class="el-title">
                {{ args.title }}
            </h1>
            <p class="s-hero__content-description">
               {{ args.description }}
            </p>
        </div>
        <figure class="s-hero__media">
            <img src="{{ args.url }}" alt="">
        </figure>
    </div>
</section>