<section class="s-pannel">
    <div class="s-pannel__container">
        <a class="s-pannel__link" href="#">
            {% include "components/svg_inline.twig" with { name: "ic-arrow", modifier: "s-pannel__link-svg" } %}
        </a>
        <a class="s-pannel__link" href="#">Read more</a>
    </div>
</section>