<section class="s-text">
    <div class="s-text__container">
        <div class="s-text__content">
            <h2 class="el-title">
                Вы можете узнать о каждом типе продуктов
            </h2>
    
            <button class="btn">
                HealthyFriend
            </button>
        </div>
    </div>

</section>
   