.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.icon-ic-arrow {
  width: 22px;
  height: 14px;
}
.icon-ic-facebook {
  width: 42px;
  height: 44px;
}
.icon-ic-instagram {
  width: 43px;
  height: 44px;
}
.icon-ic-logo {
  width: 241px;
  height: 79px;
}
.icon-ic-telegram {
  width: 42px;
  height: 44px;
}
